body {
    background-color: darkgray;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

.openBtn {
    display: flex;
    justify-content: left;
}

.openButton:hover {
    color: whitesmoke;
}

a:hover {
    color: lightgray;
}

.openButton {
    display: flex;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.loginPopup {
    display:flex;
    justify-content: center;
}

.formPopup {
    border-radius: 30px;
    display: none;
    position: fixed;
    border: 3px solid #999999;
    z-index: 9;
}


.input {
    border-radius: 30px;
}

textarea {
    width: 300px;
    height: 120px;
    margin-bottom: 20px;
}

.formContainer {
    border-radius: 30px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    max-width: 700px;
    padding: 40px;
    background-color: rgba(1, 1, 1, 0.9);
    color: white;
}

.formContainer input[type=text],
.formContainer input[type=password] {
    width: 300px;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
    background-color: #ddd;
        outline: none;
}


.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }

  .btn {
      border-radius: 30px;
  }

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 16px;
  border-radius: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.cardimg {
    width: 200px;
    border-radius: 30px;
    border-color: rgb(102, 102, 255);
    border-style: solid;
}


.content {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
 }

.container {
    display: flex;
    flex-direction: column;   
    justify-content: flex-start;
    align-items: center;
}

.clickmore {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding:20px;
    background-color: aliceblue;
    border-radius: 30px;
    width: 300px;
    text-align: center;
}

.content2 {
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    padding: 32px;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.content3 {
    background-color: gray;
    color:black;
    display: flex;
    flex-direction: column;
    padding: 32px;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
}

.quote {
    display: flex;
    font-size: 32px;
    font-style: italic;
}

.quotesmol {
    margin-left: auto;
    color: whitesmoke;
    font-size: 12px;
}

.click {
    color: red;
    font-weight: bold;

}

.ceo {
    display: flex;
    align-items: center;
}

.ceoimg {
    width: 500px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    align-items: center;
    justify-content: center;
}



ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}


a {
    text-decoration: none;
    color: white;
}

